@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

:root {
	color: aliceblue;
	background-color: rgb(36, 36, 36);

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}